<%- include('layouts/header')  %> 

 
   
   <!-- Search bar code -->
 

   <!-- Search bar code -->
   <div class="flex justify-center my-5">
    <div class="mb-3 xl:w-96">
      <div class="input-group relative flex flex-wrap items-stretch w-full mb-4">
        <input type="search" id="myInput" onkeyup="showme()" class="form-control relative flex-auto min-w-0 block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" placeholder="Search" aria-label="Search" aria-describedby="button-addon3">
        <button class="btn inline-block px-6 py-2 border-2 border-blue-600 text-blue-600 font-medium text-xs leading-tight uppercase rounded hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out" type="button" id="button-addon3">Search</button>
      </div>
    </div>
  </div>
    <table class="w-full text-sm text-left text-gray-400" id="myTable">
        <div id="heading">
        <thead class="text-xs uppercase bg-gray-700 text-gray-400 " >
            <tr  >
                <th scope="col" class="py-3 px-6">
                    ID
                </th>
                <th scope="col" class="py-3 px-6">
                    Title
                </th>
                <th scope="col" class="py-3 px-6">
                    Description
                </th>
                <th scope="col" class="py-3 px-6">
                    Theme
                </th>
                <th scope="col" class="py-3 px-6">
                    Category
                </th>
              
                <th scope="col" class="py-3 px-6">
                    <span class="">Action</span>
                </th>
            </tr>
        </thead>
    </div>
    <% statementsarr.forEach((row,index) => { %>
          
        <tbody >
           
             
                <tr class="bg-gray-800 border-gray-700 hover:bg-gray-600">
                    <th scope="row" class="py-4 px-6 font-medium whitespace-nowrap text-white">
                       <%= index+1 %> 
                    </th>
                    <td class="py-4 px-6">
                        <%= row.title %> 
                    </td>
                    <td class="py-4 px-6">
                        <%= row.description %> 
                    </td>
                    <td class="py-4 px-6">
                       <%= row.theme %> 
                    </td>
                    <td class="py-4 px-6">
                     <%= row.category %> 
                    </td>
                    <td class="py-2 px-4 text-right">
                        <a href="/problem-statements/<%-row._id %>" class="font-medium text-blue-600 dark:text-blue-500 hover:underline mx-2">Expand</a>
                       
                        <a href="/problem-statements/delete/<%-row._id %>" class="font-medium text-blue-600 dark:text-blue-500 hover:underline mx-2">Delete</a>

                    
                 
                    </td>
                </tr>
               
            <% }) %>
           
        </tbody>
   
    </table>
</div>
</div> 
<div class="flex justify-center my-5 items-center">
    <a href="/problem-statements/add" class="outline-none">
    <button class="bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded">

    Add Problem Statements
    
      </button>
      </a>
</div>
<script>
    function showme(){
        let filter=document.getElementById('myInput').value.toUpperCase();
        let myTable=document.getElementById('myTable');
        let tr=myTable.getElementsByTagName('tr');
        for(let i=0;i<tr.length;i++){
            let td=tr[i].getElementsByTagName('td')[2];
            if(td){
                let textvalue=td.textContent || td.innerHTML;
                if(textvalue.toUpperCase().indexOf(filter)>-1){
                    tr[i].style.display='';
                }
                else{
                    tr[i].style.display="none"
                }
            }
        }
       }
  </script>
         </body>
        </html>